In [1]:
!git clone https://github.com/hchocobar/ucu_pad_practice_2023_02.git

Cloning into 'ucu_pad_practice_2023_02'...
remote: Enumerating objects: 14, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 14 (delta 2), reused 8 (delta 0), pack-reused 0
Receiving objects: 100% (14/14), 6.02 MiB | 8.93 MiB/s, done.
Resolving deltas: 100% (2/2), done.

In [4]:
import pandas as pd

df = pd.read_csv("/content/ucu_pad_practice_2023_02/data/NISPUF17.csv")
print(df.head())
total = len(df)
print("Número total de filas en el DataFrame:", total)

   Unnamed: 0  SEQNUMC  SEQNUMHH  PDAT    PROVWT_D     RDDWT_D  STRATUM  YEAR  \
0           1   128521     12852     2         NaN  235.916956     1031  2017
1           2    10741      1074     2         NaN  957.353840     1068  2017
2           3   220011     22001     2         NaN  189.611299     1050  2017
3           4    86131      8613     1  675.430817  333.447418     1040  2017
4           5   227141     22714     1  482.617748  278.768063     1008  2017

   AGECPOXR  HAD_CPOX  ...  XVRCTY2  XVRCTY3  XVRCTY4  XVRCTY5  XVRCTY6  \
0       NaN         2  ...                        NaN      NaN      NaN
1       NaN         2  ...                        NaN      NaN      NaN
2       NaN         2  ...                        NaN      NaN      NaN
3       NaN         2  ...                        NaN      NaN      NaN
4       NaN         2  ...                        NaN      NaN      NaN

   XVRCTY7  XVRCTY8  XVRCTY9  INS_STAT2_I  INS_BREAK_I
0      NaN      NaN      NaN          NaN          NaN
1      NaN      NaN      NaN          NaN          NaN
2      NaN      NaN      NaN          NaN          NaN
3      NaN      NaN      NaN          1.0          2.0
4      NaN      NaN      NaN          2.0          1.0

[5 rows x 454 columns]
Número total de filas en el DataFrame: 28465

In [5]:
set (df["EDUC1"])

{1, 2, 3, 4}

In [6]:
mother_education_level_1 = df[df["EDUC1"]==1]
cant_1 = len(mother_education_level_1)

Primer dato:

In [7]:
proporcion_niños_1 = cant_1 /total
proporcion_niños_1

0.10202002459160373

Segundo dato:

In [8]:
set(df["CBF_01"])

{1, 2, 77, 99}

In [9]:
dfc1 = df[df["CBF_01"] == 1] # lactancia
len(dfc1)

24261

In [10]:
dfc1["P_NUMFLU"].mean() # promedio

1.8799187420058687

In [13]:
dfc2 =df[df["CBF_01"] == 2]
len(dfc2)

4085

In [14]:
relacion_2 = dfc2["P_NUMFLU"].mean() # promedio que no recibio leche materna
relacion_2

1.5963945918878317

Tercera parte:

In [19]:
print(data.head())

   Unnamed: 0  SEQNUMC  SEQNUMHH  PDAT    PROVWT_D     RDDWT_D  STRATUM  YEAR  \
0           1   128521     12852     2         NaN  235.916956     1031  2017
1           2    10741      1074     2         NaN  957.353840     1068  2017
2           3   220011     22001     2         NaN  189.611299     1050  2017
3           4    86131      8613     1  675.430817  333.447418     1040  2017
4           5   227141     22714     1  482.617748  278.768063     1008  2017

   AGECPOXR  HAD_CPOX  ...  XVRCTY2  XVRCTY3  XVRCTY4  XVRCTY5  XVRCTY6  \
0       NaN         2  ...                        NaN      NaN      NaN
1       NaN         2  ...                        NaN      NaN      NaN
2       NaN         2  ...                        NaN      NaN      NaN
3       NaN         2  ...                        NaN      NaN      NaN
4       NaN         2  ...                        NaN      NaN      NaN

   XVRCTY7  XVRCTY8  XVRCTY9  INS_STAT2_I  INS_BREAK_I
0      NaN      NaN      NaN          NaN          NaN
1      NaN      NaN      NaN          NaN          NaN
2      NaN      NaN      NaN          NaN          NaN
3      NaN      NaN      NaN          1.0          2.0
4      NaN      NaN      NaN          2.0          1.0

[5 rows x 454 columns]

In [20]:
print(data['SEX'].value_counts())
print(data['HAD_CPOX'].value_counts())

1    14717
2    13748
Name: SEX, dtype: int64
2     27955
1       402
77      105
99        3
Name: HAD_CPOX, dtype: int64